html {
    background-color: #d3d3d3;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
}

main{
    background-color: #f5f5f5;
    padding: 30px 70px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@keyframes titre {
  0%   {transform: rotateZ(0deg)}
  50%  {transform: rotateZ(10deg)}
  100% {transform: rotateZ(-10deg)}
}

h1{
    color: #3e3d3d;
    font-weight: bold;
    margin: 20px;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-decoration: underline 2px;
    animation-name: titre;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;  
}

/* PLAYER */

.player_section{
    position: absolute;
    height: 100%;
    right:0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    max-width: 400px;
    color: #696767;
    font-weight: bold;
}

.player_title{
    text-decoration: underline 2px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 300px;
    margin-top: 20%;
}

.champ{
    margin-bottom: 20px;
}

select{
    width: 100%;
    max-width: 310px;
    background-color: #f5f5f5;
    border-width:0px;
    border:none;
    padding:5px;
    margin-top: 2px;
}

input[type=text]{
    background-color: #f5f5f5;
    font-size: 1.2em;
    border-width:0px;
    border:none;
    padding:5px;
    width: 100%;
    max-width: 300px;
}

input[type=text]:placeholder-shown{
    color: #bfbfbf;
}

.start_button{
    width:100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px 0px;
    transition: width 0.2s, font-size 0.2s;
}

.start_button:hover{
    width:80%;
    font-size: 17px;
}

button{
    font-size: inherit;
    color: inherit;
}

.player_result{
    border: medium solid #3e3d3d;
    margin-top: 20px;
    max-width: 310px;
    background-color: #f5f5f5;
    height: 30%;
}

.result_title{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    font-size: 20px;
    text-decoration: underline 2px #3e3d3d;
}

ol{
    height: 80%;
    overflow: auto;
    margin-right: 10px;
}

li{
    margin-bottom: 10px;
    font-size: 15px;
}

/* PLATEAU */

table {
    empty-cells : show;
    border-collapse: collapse;
    border-spacing: 0px;
}

.cell {
    border: 5px solid black;
    height: 100px;
    width: 100px;
    padding: 0px;
}

.arrow_container{
	height: 100px;
    width: 100px; 
}

.arrow_img {
	height: 60px;
    width: 60px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
    opacity:0.5;
    transition: width 0.2s, height 0.2s;
}

.arrow_img:hover {
    width: 50px;
    height: 50px;
    opacity:1;
}

.jeton_img {
	height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
    box-sizing: content-box;
}

footer{
    width: 120%;
    margin-left: auto;
    margin-top: 5px;
}
