html {
    background-color: #d3d3d3;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 95%;
    display:flex;
    justify-content: center;
    margin: 0px;
}

.player_section{
    height: 100%;
    display: flex;
    align-items: center;
}

.board_section{
    background-color: #f5f5f5;
    padding: 30px 70px;
    height: 100%;
    display: flex;
    align-items: center;
}

table {
    empty-cells : show;
    border-collapse: collapse;
    border-spacing: 0px;
}

.cell {
    border: 5px solid black;
    height: 100px;
    width: 100px;
    padding: 0px;
}

.arrow_container{
	height: 75px;
    width: 100px; 
}

.arrow_img {
	height: 50px;
    width: 50px; 
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.jeton_img {
	height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
    box-sizing: content-box;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 95%;
}
