table {
    empty-cells : show;
    border-collapse: collapse;
}

.cell {
    border: 5px solid black;
    height: 100px;
    width: 100px;
}

.arrow_container{
	height: 75px;
    width: 100px; 
}

.arrow_img {
	height: 50px;
    width: 50px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.jeton_img {
	height: 100px;
	width: 100px
}